.parent {
  display: flex;
  background-color: cornflowerblue;
  position: relative;
  height: 100%;
  left: 0;
}
.flex-container {
  display: flex;
  background-color: yellow;
  justify-content: center;
}

.child {
  /* margin: auto; */
  padding: 15px;
  width: 550px;
  background-color: skyblue;
}
.child-special{
  margin: 0;
  padding: 0;
  width: 200px;
  /* background-color: #f1f1f1; */


  background-color: gray;
  /* width: 25%; */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  height: 100%;
  padding-top: 20px;
  
}

.flex-maillist{
  display: flex;
  flex-flow: column;
}
.mail-header{
  padding: 13px;
  font-size: 25px;
}
.preview {
  background-color: tan;
}
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 25%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}